body {
	margin: 0;
}
div {
	border: 2px solid black;
	width: calc(100%/3 - 4px);
	float: left;
	text-align: center;
	cursor:pointer;
}

/*///////////////////////////////////////////////////////////////*/

#addClass, #removeClass, #tagClassAdd, #tagClassRemove, #tagClassToggle, #toggleClass {
	text-align: center;
	width: 100px;
}
#submitAddClass,#submitRemoveClass, #submitToggleClass{
	cursor:pointer;
}
